{% extends "blog_app/blog_app_base.html" %}

{% block body_block %}

<div class="jumbotron">
  <h1>{{post_detail.title}}</h1>
  <h2>{{ post_detail.text|linebreaksbr }}</h2>
  <p>Author: {{post_detail.author}}</p>
  <p>Created date: {{post_detail.created_date}}</p>
</div>
{% if request.user == post_detail.author %}
<div class="container">
  <p><a class='btn btn-warning' href="{% url 'blog_app:update' pk=post_detail.pk %}">Update</a></p>
</div>
<div class="container">
  <p><a class='btn btn-warning' href="{% url 'blog_app:delete' pk=post_detail.pk %}">Delete</a></p>
</div>
{% endif %}
{% endblock %}
