{% extends "blog_app/blog_app_base.html" %}

{% block body_block %}

<div class="jumbotron">
  <h1>Welcome to Blog Detail Page</h1>
  <h2>Blog details:</h2>
  <p>{{post_detail.title}}</p>
  <p>Author: {{post_detail.author}}</p>
  <p>Created date: {{post_detail.created_date}}</p>
  <p>{{ post_detail.text|linebreaksbr }}</p>

</div>
{% if self.request.user == post_detail.author %}
<div class="container">
  <p><a class='btn btn-warning' href="{% url 'blog_app:update' pk=post_detail.pk %}">Update</a></p>
</div>
<div class="container">
  <p><a class='btn btn-warning' href="{% url 'blog_app:delete' pk=post_detail.pk %}">Delete</a></p>
</div>
{% endif %}
{% endblock %}
